.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Giới hạn số dòng là 3 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.brand-1 {
  color: #2196f3 !important;
}
.nav-tabs .nav-link {
  color: #070707 !important; /* Màu đen mặc định */
  font-weight: bold;
  border-bottom: 1px solid transparent !important;
  background: transparent !important;
  font-family: "Poppins", "Montserrat", Arial, Helvetica, sans-serif !important;
  transition: color 0.2s, border-bottom 0.2s;
}

.nav-tabs .nav-link.active {
  color: #2196f3 !important; /* Màu xanh khi được chọn */
  border-bottom: 1px solid #2196f3 !important;
}

.nav-tabs .nav-link:hover {
  color: #2196f3 !important; /* Màu xanh khi hover */
}
.banner-homepage1,
.banner-homepage1 * {
  font-family: "Poppins", "Montserrat", Arial, Helvetica, sans-serif !important;
}
.btn-double-border:hover,
.btn-double-border:focus {
  color: #2196f3 !important;
  border-color: #2196f3 !important;
  background: #fff !important;
}
